.o-main {
  display: block;
  position: relative;
  background: $dark;
  -webkit-transform: translate3d(0,0,0);

  &__lines {
    width: 100%;
    max-width: rem(1111px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;
    pointer-events: none;
  }

  &__line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #33324A;

    &--1 {
      left: 0;

      @include media-breakpoint-down(md) {
        left: $grid-gutter-width / 2;
      }
    }

    &--2 {
      left: 34.33333%;

      @include media-breakpoint-down(md) {
        @include  hidden-visually();
      }
    }

    &--3 {
      right: 0;
      @include media-breakpoint-down(md) {
        right: $grid-gutter-width / 2;
      }
    }
  }
}
