.o-hero {
  width: 100%;
  position: relative;
  overflow: hidden;

  padding: {
    top: 210px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__bg-image {
    max-width: 100%;
    height: auto;
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();
    position: relative;
    z-index: 2;
  }

  &__title {
    color: $white;
    font-size: rem(64px);
    line-height: rem(79px);
    font-weight: $font-weight-bold;
    text-align: center;
    max-width: rem(528px);
    margin: {
      left: auto;
      right: auto;
    }
  }

}

