.o-footer {
  background-color: $footer-bg;
  position: relative;
  z-index: 5;

  &__container {
    @include make-container();
    @include make-container-max-widths();

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: rem(67px);
    padding-bottom: rem(52px - 18px);
  }

  &__brand {
    margin-top: rem(-50px);
  }

  &__logo {
    max-width: 100%;
    height: auto;
  }

  &__navs {
    width: 100%;
    max-width: rem(300px);
  }


  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__nav-item {
    &+& {
      margin-left: rem(32px);
    }
  }

  &__nav-link {
    color: $white;
    font-size: rem(14px);
    line-height: rem(17px);
    font-weight: $font-weight-bold;
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: rem(35px);
  }

  &__link {
    color: $white;
    font-size: rem(10px);
    line-height: rem(13px);
    text-decoration: underline;
    margin-bottom: 18px;
    width: 33.33%;
    opacity: 0.3;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  &__socials {
    width: 100%;
    max-width: rem(255px);
  }

  &__socials-text {
    color: $white;
    font-size: rem(10px);
    line-height: rem(14px);
    margin-bottom: 19px;
  }

  &__socials-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
  }

  &__socials-item {
    &+& {
      margin-left: 8px;
    }
  }

  &__bottom {
    padding: rem(38px) 0;
    border-top: 1px solid rgba($white, 0.2);
  }

  &__text {
    @include make-container();

    max-width: rem(379px + $grid-gutter-width);
    color: $white;
    font-size: rem(10px);
    line-height: rem(13px);
    text-align: center;
    margin-bottom: 0;
    opacity: 0.3;
  }
}
