.o-phoenix {
  display: block;
  position: relative;
  padding: {
    top: rem(98px);
    bottom: rem(277px);
  }
  z-index: 2;

  @include media-breakpoint-down(md) {
    padding-bottom: rem(110px);
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__row {
    @include make-row($gutter: 0px);
  }

  &__col {
    @include make-col-ready($gutter: 0px);

    @include media-breakpoint-up(lg) {
      &--left {
        @include make-col(4.12)
      }

      &--right {
        @include make-col(7.88)
      }
    }
  }

  &__sub {
    color: $grey-blue;
    font-size: rem(18px);
    line-height: rem(23px);
    letter-spacing: -0.3px;
    text-shadow: 0px 4px 50px rgba(51, 50, 74, 0.25);
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      font-size: rem(14px);
      line-height: rem(17.64px);
    }
  }

  &__title {
    color: $white;
    font-size: rem(64px);
    line-height: rem(79px);
    font-weight: $font-weight-bold;
    margin: {
      top: rem(27px);
      left: auto;
      right: auto;
      bottom: 0;
    }
    text-shadow: 0px 4px 50px rgba(51, 50, 74, 0.25);

    @include media-breakpoint-down(md) {
      max-width: rem(250px);
      font-size: rem(36px);
      line-height: rem(44.64px);
      margin-top: rem(32px);
      margin-left: 0;
    }
  }

  &__images {
    position: relative;
    will-change: transform;
   }

    @include media-breakpoint-up(lg) {
      margin-top: -80px;

      >div {
        will-change: transform;
    }
  }

  &__image {

    &--main {
      @include media-breakpoint-up(lg) {
        margin-top: -150px;
      }
    }
    &--bg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__text {
    color: $white;
    font-size: rem(24px);
    line-height: rem(30px);
    font-weight: $font-weight-bold;
    text-shadow: 0px 4px 50px rgba(51, 50, 74, 0.25);
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      max-width: rem(279px);
      font-size: rem(18px);
      line-height: rem(22.64px);
    }
  }
}
