.o-sliders {
  display: block;
  position: relative;
  padding-top: rem(31px);
  padding-bottom: rem(97px);

  &__bg  {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    z-index: 1;

    >svg {
      max-width: 100%;
      height: auto;
    }
  }

  &__particles {
    @include media-breakpoint-down(sm) {
      @include  hidden-visually();
    }
  }

  &__imagebg {
    position: absolute;
    width: rem(539px);
    height: rem(440px);
    top: 0;
    right: rem(93px);
    background: linear-gradient(304deg, #FFC10D -1.19%, #54C8EA 99.11%);

    @include media-breakpoint-down(md) {
      width: rem(240px);
      height: rem(240px);
      right: rem(150px);
    }

    @include media-breakpoint-down(sm) {
      right: rem(60px);
    }


    @include media-breakpoint-down(xs) {
      width: rem(180px);
      height: rem(180px);
      top: 30px;
      right: rem(25px);
    }

    @media  (max-width: 390.98px) {
      right: rem(10px);
    }

    &::before, &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-color: $dark
    }

    &::before {
      right: rem(24px);
      bottom: 0;
    }

    &::after {
      bottom: rem(24px);
      right: 0;
    }
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();
    position: relative;
    z-index: 2;
  }

  &__row {
    @include make-row($gutter: 0px);
  }

  &__col {
    @include make-col-ready($gutter: 0px);


    &--left {
      @include make-col(4.12)
    }

    &--right {
      @include make-col(7.88);
      display: flex;
      justify-content: space-between;
    }

    @include media-breakpoint-down(md) {
      &--left {
        @include make-col(3.5)
      }

      &--right {
        @include make-col(8.5);
      }
    }
  }

  &__wrapper {
    margin: 0 auto;
    margin-top: rem(39px);
    max-width: rem(921px);
    position: relative;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }

  &__wrapper-inner {
    margin: 0 auto;
    min-height: 440px;
    max-width: rem(730px);
    display: flex;

    @include media-breakpoint-down(md) {
      justify-content: center;
      min-height: rem(240px);
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
