.c-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(24px);
  height: rem(24px);
  padding: rem(5px);
  background-color: $white;
  border-radius: rem(8px);
  transition: 0.3s ease;

  &__icon {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  &--talegram {
    background: #29A9EB;
  }

  &--twitter {
    background: #05ACF0;
  }

  &--facebook {
    background: #1877F2;
  }

  &--discord {
    background: #5865F2;
  }

  &:hover {
    opacity: 0.5;
    text-decoration: none;
  }
}
