.c-navbar {
  $root: &;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: rem(21px) 0;
  -webkit-transform: translate3d(0,0,0);

  &__container {
    @include make-container();
    @include make-container-max-widths();
    overflow: hidden;
  }


  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  &__brand {
    width: 100%;
    max-width: rem(124px);
    position: relative;
    z-index: 2;

    @include media-breakpoint-down(sm) {
      max-width: rem(82.67px);
    }
  }

  &__group {
    max-width: 710px;
    width: 100%;
    padding-left: 20px;

    @include media-breakpoint-down(md) {
      width: 100vw;
      height: 0px;
      padding-left: 0;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      will-change: height;
    }
  }

  &__group-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include media-breakpoint-down(md) {
      padding-top: rem(200px);
      padding-bottom: 100px;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      max-width: 100vw;
      background-color: $dark;
      overflow: auto;
    }

    @media (max-width: 380px) {
      padding-top: rem(120px);
    }
  }

  &__toggler {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: rem(18px);
    height: rem(16px);
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(lg) {
      @include  hidden-visually();
    }

    >span {
      display: block;
      width: rem(18px);
      height: 1px;
      background: $white;
      cursor: pointer;
      transform-origin: center;
      will-change: transform;

      &:nth-child(2) {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 5px;
          width: 4px;
          background: $dark;
        }
      }
    }
  }


  &__nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: rem(5px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__nav-item {
    text-align: center;
    will-change: transform;

    &+& {
      margin-left: rem(56px);
    }

    @include media-breakpoint-down(md) {

      &+& {
        margin-left: 0;
        margin-top: rem(40px);
      }
    }

    @media (max-width: 374.98px) {
      &+& {
        margin-top: rem(20px);
      }
    }
  }

  &__link {
    color: $white;
    font-size: rem(12px);
    font-weight: $font-weight-bold;

    @include media-breakpoint-down(md) {
      font-size: rem(30px);
    }
  }

  &__btn {
    margin-top: rem(5px);
    position: relative;
    color: $white;
    font-size: rem(12px);
    font-weight: $font-weight-bold;
    padding: rem(14px) rem(27px);
    background-color: $primary;
    will-change: transform;
    transition: 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: rem(2.53px);
      height: rem(3.43px);
      background-color: $dark;
    }

    &:hover {
      color: $white;
      background: $grey-blue;
    }
  }

}
