@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.c-preloader {
  position: fixed;
  inset: 0;
  background: #191629;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  &__logo {
    animation: fade 3s linear 0s infinite;
    max-width: 100%;
    height: auto;
  }
}
