.c-counternav {
  cursor: pointer;

  &__count {
    color: $grey-blue;
    font-size: rem(18px);
    line-height: rem(22.32px);
    margin-bottom: rem(8px);
    font-weight: $font-weight-bold;
    text-shadow: 0px 4px 50px rgba(51, 50, 74, 0.25);

    @include media-breakpoint-down(md) {
      font-size: rem(14px);
      line-height: rem(17.36px);
    }
  }

  &__text {
    color: $grey-blue;
    font-size: rem(14px);
    line-height: rem(18px);
    font-weight: $font-weight-medium;
    margin-bottom: 0;
    text-shadow: 0px 4px 50px rgba(51, 50, 74, 0.25);

    @include media-breakpoint-down(md) {
      font-size: rem(10px);
      line-height: rem(12.6px);
    }
  }

  &--right{
    text-align: right;
  }
}
