.c-contentslider {
  width: rem(255px);
  height: rem(321px);
  margin-right: rem(60px);
  margin-top: rem(32px);
  overflow: hidden;


  @include media-breakpoint-down(md) {
    width: rem(130px);
    height: rem(200px);
    margin-right: rem(20px);
    margin-top: rem(20px);
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    transition-property: transform;
    will-change: transform;
  }

  &__item {
    height: rem(321px);
    padding: rem(47px) rem(32px);
    position: relative;
    backface-visibility: hidden;

    @include media-breakpoint-down(md) {
      padding: rem(15px);
      height: rem(200px);
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    background-color: #333150;
    clip-path: polygon(100% 0, 100% 76%, 82% 100%, 0 100%, 0 0);

    &::before {
      position: absolute;
      content: '';
      width: rem(13px);
      height: rem(13px);
      bottom: 0;
      left: 0;
      background-color: $dark;
    }
  }

  &__title {
    position: relative;
    color: $white;
    font-size: rem(18px);
    line-height: rem(23px);
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    text-shadow: 0px 4px 50px rgba(51, 50, 74, 0.25);
    z-index: 2;

    @include media-breakpoint-down(md) {
      font-size: rem(12px);
      line-height: rem(15.36px);
    }
  }

  &__text {
    position: relative;
    color: $grey-blue;
    font-size: rem(14px);
    line-height: rem(18px);
    font-weight: $font-weight-medium;
    margin-top: rem(32px);
    margin-bottom: 0;
    text-shadow: 0px 4px 50px rgba(51, 50, 74, 0.25);
    z-index: 2;

    @include media-breakpoint-down(md) {
      font-size: rem(10px);
      line-height: rem(12.6px);
      margin-top: rem(10px);
    }
  }

  &__dot {
    position: absolute;
    bottom: 4px;
    display: flex;
    justify-content: center;
    z-index: 50;

    >.swiper-pagination-bullet {
      width: 48.2px;
      height: 13px;
      border: 1px solid #FFFFFF;
      transition: background 0.3s;

      @include media-breakpoint-down(md) {
        width: rem(20px);
        height: rem(8px);
      }
    }

    .swiper-pagination-bullet+.swiper-pagination-bullet {
      margin-left: rem(7px);
    }

    >.swiper-pagination-bullet-active {
      background: #FF005C;
    }
  }
}
