.c-prevslider {
  width: 100%;
  max-width: rem(155px);
  overflow: hidden;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    will-change: transform;
  }

  &__item {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
  }
}
