$assets-fonts-path : '../fonts/';

@mixin font-face($name, $foldername, $filename, $weight: normal, $style: normal) {
    @font-face {
        font-family: $name;
        src: url("#{$assets-fonts-path}/#{$foldername}/#{$filename}.eot");
        src: url("#{$assets-fonts-path}/#{$foldername}/#{$filename}.eot?#iefix") format("embedded-opentype"),
        url('#{$assets-fonts-path}/#{$foldername}/#{$filename}.woff2') format('woff2'),
        url("#{$assets-fonts-path}/#{$foldername}/#{$filename}.woff") format("woff"),
        url("#{$assets-fonts-path}/#{$foldername}/#{$filename}.ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
        text-rendering: optimizeLegibility;
    }
}
