$primary: #FF005C;
$blue: #4D61FD;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #FF3C54;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$dark: #191629;
$dark-blue: #32325D;
$grey-blue: #757391;
$light-blue: #A2ADFF;
$footer-bg: #1A1629;
